<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TravelMate</title>
  </head>

  <body class="main-body">
    <div class="main-menu">
      <div class="logo"></div>
      <div class="menu-header"><h1>Plan your trip</h1></div>
      <div class="destination">
        <label for="city">destination:</label>
        <input type="text" id="city" placeholder="London...">
      </div>
      <div class="dates">
        <div class="departure">
          <label for="start">departure:</label>
          <input type="date" id="start" name="trip-start">
        </div>
        <div class="return">
          <label for="end">return:</label>
          <input type="date" id="end" name="trip-end">
        </div>
      </div>
      <div class="flts">
        <label for="flights">flight info:</label>
        <textarea id="flights" placeholder="UA124  - 7:00 (00/00/00) &#10;UA234 - 13:00 (00/00/00)"></textarea>
      </div>
      <div class="nts">
        <label for="notes">notes:</label>
        <textarea id="notes" placeholder="add your notes here..."></textarea>
      </div>
      <button id="trip-btn" type = "submit"> add trip </button>
    </div>
    <div class="main" id="app">
      <div class="main-heading">
        <h1>My trips</h1>
        <div id="print-btn"></div>
      </div>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
     </script>
  </body>
</html>