@import url('https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap');

.main-body {
  background-color: #2D355F;
  margin: 0;
}

.main-menu {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  height: auto; 
  background-color: #FB7474;
}

.return, .departure {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.return {
  margin-left: 8px;
}

#start, #end {
  height: 36px;
}

.destination, .flts, .nts {
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #2D355F;
  padding: 16px;
}

#print-btn {
  background-image: url('/media/print_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  &:hover {
    filter: drop-shadow(0 4px 4px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19));
    transform: scale(1.1);
  }
}

.dates {
  display: flex;
  flex-direction: row;
}

.expanded-card {
  margin: 16px  0;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  background: #4E536D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
}

.additional-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.additional {
  display: flex;
  flex-direction: column;
  background: #4E536D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 288px;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 8px;
}

.image {
  width: 100%;
  height: 288px;
  background-size: cover;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
}

.main-heading, .card-heading, .card-subheading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background-image: url('/media/delete_icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  &:hover {
    filter: drop-shadow(0 4px 4px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19));
    transform: scale(1.1);
  }
}

.card-data {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.weather-data-current {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 32px auto;
  grid-template-areas: 
  "title title"
  "temp img";
  width: 274px;
  height: 154px;
  background: #2D355F;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 0;
  align-self: center;
}

.weather-data-forecast {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 32px auto auto;
  grid-template-areas: 
  "title"
  "mini"
  "maxi";
  width: 274px;
  height: 154px;
  background: #2D355F;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 0;
  align-self: center;
}

.weather-title {
  grid-area: title;
  display: flex;
  justify-content: center;
}

.weather-temp {
  grid-area: temp;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin: 0 0 8px 8px;
}

.min-temp {
  grid-area: mini;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin: 0 0 8px 8px;
}

.max-temp {
  grid-area: maxi;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin: 0 0 8px 8px;
}

.temp {
  font: 700 54px/40px Gudea;
  color: white;
}

.celsius {
  font: 700 32px/24px Gudea;
  color: white;
}

.weather-img {
  width: auto;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  margin: 0 8px 8px 8px;
}

.trip-data {
  width: 100%;
  margin-left: 0;
}

.mixed-text {
  display: flex;
  height: 72px;
  margin-top: 8px;
}

.inner-h3 {
  width: 88px;
  margin: 0;
}

.inner-ta {
  width: 100%;
  padding: 0;
  height: 100%;
  border-style: none;
  margin: 0;
}

.card-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.card-btn {
  font: 700 18px/32px Gudea;
  color: #2D355F;
  border: none;
  background: white;
  height: 32px;
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 8px;
  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

#flights {
  word-break: break-word;
}

#city {
  text-transform: capitalize;
}

.logo {
  background-image: url('/media/travelmate_logo.png');
  background-repeat: no-repeat;
  margin: 8px;
  height: 64px;
}

h1 {
  font: 700 28px/36px Gudea;
  color: white;
  margin: 16px 0px;
}

h2 {
  font: 700 24px/30px Gudea;
  color: white;
  margin: 8px 0 0 0;
}

h3 {
  font: 700 18px/22px Gudea;
  color: white;
  margin: 8px 0 0 0;
}

h4 {
  font: 400 16px/18px Gudea;
  color: white;
  margin: 8px 0px;
}

label {
  font: 700 20px/26px Gudea;
  color: white;
  margin-left: 8px;
}

input {
  font: 400 16px/18px Gudea;
  color: white;
  background: transparent;
  height: 36px;
  width: auto;
  border: 4px solid white;
  margin: 8px 0 16px 0;
  padding: 0px 8px;
  &::placeholder {
    color: #ffffffa1;
  }
  &::-webkit-calendar-picker-indicator {
    margin: 0px;
    filter: invert(100%);
  }
}

textarea {
  font: 400 16px/18px Gudea;
  color: white;
  background: transparent;
  height: 48px;
  width: auto;
  border: 4px solid white;
  margin: 8px 0 16px 0;
  padding: 8px;
  &::placeholder {
    color: #ffffffa1;
  }
}

#trip-btn {
  font: 700 18px/22px Gudea;
  color: #FB7474;
  border: none;
  background: white;
  height: 44px;
  width: auto;
  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

@media(min-width:740px) and (max-width:1048px) {
  .main-menu {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "logo logo logo logo"
    "ttl ttl ttl ttl"
    "dst dst dts dts"
    "fi fi nts nts"
    "btn btn btn btn";
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto; 
  }

  .logo {
    grid-area: logo;
  }

  .menu-header {
    grid-area: ttl;
  }

  .destination {
    grid-area: dst;
  }

  .dates {
    grid-area: dts;
    margin-left: 8px;
  }

  .flts {
    grid-area: fi;
  }

  .nts {
    grid-area: nts;
    margin-left: 8px;
  }

  .return { 
    margin-left: 8px;
  }

  #trip-btn {
    grid-area: btn;
  }

  .main {
    margin-left: 0;
  }
  
  .main-body {
    margin-top: 420px;
  }

  .card {
    flex-direction: row;
    width: 100%;
    height: 288px;
  }

  .image {
    width: 40%;
  }

  .info {
    width: 60%;
  }

  .card-data {
    margin-top: 0;
    flex-direction: row;
  }

  .weather-data-current {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 32px auto;
    grid-template-areas: 
    "title title"
    "temp img";
    width: 254px;
    height: 154px;
    background: #2D355F;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: -100px;
  }

  .weather-data-forecast, .weather-data-current {
    margin-left: -120px;
    align-self: left;
  }

  .trip-data {
    margin-left: 8px;
    width: 80%;
  }

  .card-btns {
    flex-direction: row;
  }

  .card-btn {
    box-sizing: content-box;
    width: 150px;
    margin-top: 0;
  }

  .additional-elements {
    flex-direction: row;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .additional {
    margin: 8px 4px 0;
  }
}

@media (min-width:1048px) {
  .main-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    padding: 16px;
    width: 340px;
    height: 100%; 
    box-sizing: content-box;
    overflow-x: hidden;
    background-color: #FB7474;
  }

  .main{
    margin-left: 372px;
  }

  #start, #end {
    width: 140px;
  }

  .card {
    flex-direction: row;
    width: 100%;
    height: 288px;
  }

  .image {
    width: 40%;
  }

  .info {
    width: 60%;
  }

  .card-data {
    margin-top: 0;
    flex-direction: row;
  }

  .weather-data-forecast, .weather-data-current {
    margin-left: -120px;
    align-self: left;
  }

  .trip-data {
    width:80%;
    margin-left: 8px;
  }

  .card-btns {
    flex-direction: row;
  }

  .card-btn {
    box-sizing: content-box;
    width: 150px;
    margin-top: 0;
  }

  .additional-elements {
    flex-direction: row;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .additional {
    margin: 8px 4px 0;
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  h1 {
    color: #000;
  }

  div{
    page-break-inside: avoid;
  }

  .main-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    padding: 16px;
    width: 340px;
    height: 100%; 
    box-sizing: content-box;
    overflow-x: hidden;
    background-color: #FB7474;
  }

  .main{
    background-color: #fff;
    margin-left: 372px;
  }

  #start, #end {
    width: 140px;
  }

  .card {
    flex-direction: row;
    width: 100%;
    height: 288px;
  }

  .image {
    width: 40%;
  }

  .info {
    width: 60%;
  }

  .card-data {
    margin-top: 0;
    flex-direction: row;
  }

  .weather-data-forecast, .weather-data-current {
    margin-left: -120px;
    align-self: left;
  }

  .trip-data {
    width:80%;
    margin-left: 8px;
  }

  .card-btns {
    flex-direction: row;
  }

  .card-btn {
    box-sizing: content-box;
    width: 150px;
    margin-top: 0;
  }

  .additional-elements {
    flex-direction: row;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .additional {
    margin: 8px 4px 0;
  }
}